<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HAWK EYE</title>
  <link rel="stylesheet" href="/index.css" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1089659_z4zxpxu1vy.css" />
</head>

<body>

  <div id="root"></div>

  <script>
    window.hawkEyeConfig = {
      pid: 1,
    }
  </script>
  <script src="/sdk.js"></script>
  <script src="/index.js"></script>

</body>

</html>
